<div class="modal-header">
    <h4 class="modal-title">Upload File</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
   
    <form class="row" (ngSubmit)="fileUpload()">
        <div class="mb-3 col-12">
            <label class="form-label">Payment Gateway</label>
            <ng-select [formControl]="paymentGateway">
                <ng-option *ngFor="let type of paymentGatewayTypes" [value]="type.name">{{type.name}}</ng-option>
            </ng-select>
            <div *ngIf="paymentGateway?.invalid && (paymentGateway?.dirty || paymentGateway?.touched)" class="text-danger-sm">
                <div *ngIf="paymentGateway?.errors?.['required']">
                    Payment Gateway is required.
                </div>
            </div>
        </div>
        <div class="mb-3 col-12">
            <ngx-dropzone accept="text/csv" class="dropz" [multiple]="false" (change)="onSelect($event)">
                <ngx-dropzone-label>Drop your files here or <span class="fw-bold">Browse</span></ngx-dropzone-label>
                <ngx-dropzone-preview class="drop-prev" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label class="drop-label">{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
            <div *ngIf="rejectedFile" class="text-danger-sm">File must be in csv format</div>
            <!-- <div *ngIf="file?.invalid && (file?.dirty || file?.touched)" class="text-danger-sm">
                <div *ngIf="file?.errors?.['required']">
                    File is required.
                </div>
            </div> -->
        </div>
        <div class="mb-3 col-12">
            <label class="form-label">Description</label>
            <input class="form-control" type="text" [formControl]="description">
            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger-sm">
                <div *ngIf="description?.errors?.['required']">
                    Description is required.
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" [disabled]="isDisabled() || submitted" class="btn btn-primary">
                Upload
                <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </div>
    </form>
</div>