<div class="auth-container min-vh-100 d-flex">
    <div class="auth-bg d-lg-flex flex-column justify-content-center align-items-center d-none">
        <i class="fa-solid fa-circle-up falog"></i>
        <h1>CSS FEEDBACK PORTAL</h1>
    </div>
    <div class="auth-form d-flex flex-column align-items-center justify-content-sm-center">
        <h3 class="mob-title d-lg-none d-block">CSS FEEDBACK PORTAL</h3>
        <div class="auth-form-container p-sm-5 p-4">
            <h2 class="text-center mb-4">Login</h2>
            <form [formGroup]="loginForm" class="row mb-4" (ngSubmit)="login()">
                <div class="mb-3 col-12 position-relative">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="username">
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger-sm">
                        <div *ngIf="email?.errors?.['required']">
                            Email is required.
                        </div>
                    </div>
                </div>
                <div class="mb-4 col-12 position-relative">
                    <label class="form-label">Password</label>
                    <input [type]="passwordShown ? 'text' : 'password'" class="form-control" formControlName="password">
                    <i class="bi pass-icon position-absolute" [ngClass]="{'bi-eye-fill': !passwordShown, 'bi-eye-slash-fill': passwordShown}" (click)="passwordShown = !passwordShown"></i>
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger-sm">
                        <div *ngIf="password?.errors?.['required']">
                            Password is required.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" [disabled]="loginForm.invalid || submitted" class="auth-btn w-100">
                        Login
                        <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
            <a class="forgot-link" routerLink="/auth/forgot-password">Forgot password?</a>
        </div>
        <p class="up-copy">&copy; {{currentYear}} Upperlink Limited</p>
    </div>
</div>
