<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main px-lg-3 py-3 px-4 d-flex flex-column">
    <div class="main-head mt-3 mb-4">
        <button class="main-btn" type="button" (click)="openModal()">Add User</button>
    </div>
    <div class="main-table w-100 flex-grow-1 d-flex flex-column">
        <div class="card border-0 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h3>Users</h3>
                    </div>
                    <div class="col-4 ms-auto">
                        <label class="form-label f-label mb-0">Search</label>
                        <input class="form-control s-input" type="text" [(ngModel)]="term" placeholder="Enter keyword...">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive position-relative table-contain">
            <table class="table users-table table-striped">
                <thead >
                    <tr>
                        <th [ngClass]="{'tosortdesc': key === 'itemIndex' && reverse, 'tosortasc': key === 'itemIndex' && !reverse}" scope="col" (click)="sort('itemIndex')">S/N</th>
                        <th [ngClass]="{'tosortdesc': key === 'firstName' && reverse, 'tosortasc': key === 'firstName' && !reverse}" scope="col" (click)="sort('firstName')">First Name</th>
                        <th [ngClass]="{'tosortdesc': key === 'lastName' && reverse, 'tosortasc': key === 'lastName' && !reverse}" scope="col" (click)="sort('lastName')">Last Name</th>
                        <th [ngClass]="{'tosortdesc': key === 'email' && reverse, 'tosortasc': key === 'email' && !reverse}" scope="col" (click)="sort('email')">Email</th>
                        <th [ngClass]="{'tosortdesc': key === 'dateAdded' && reverse, 'tosortasc': key === 'dateAdded' && !reverse}" scope="col" (click)="sort('dateAdded')">Date Added</th>
                        <th [ngClass]="{'tosortdesc': key === 'lastLogin' && reverse, 'tosortasc': key === 'lastLogin' && !reverse}" scope="col" (click)="sort('lastLogin')">Last Login</th>
                        <th [ngClass]="{'tosortdesc': key === 'status' && reverse, 'tosortasc': key === 'status' && !reverse}" scope="col" (click)="sort('status')">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <i *ngIf="isLoading" class="fa-solid fa-gear fa-spin spinner-size position-absolute start-50"></i> -->
                    <div *ngIf="isLoading" class="spinner-size position-absolute start-50 translate-middle">
                        <img src="../../../assets/gear-solid.svg" alt="spinner">
                    </div>
                    <p class="position-absolute start-50 translate-middle-x mt-2" *ngIf="users?.length === 0">There are no files to display</p>
                    <tr *ngFor="let item of users | filter: term | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage} | orderBy: key: reverse; let i = index">
                        <th scope="row">{{item.itemIndex + 1}}</th>
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.dateAdded}}</td>
                        <td>{{item.lastLogin}}</td>
                        <td>
                            <span [ngClass]="{'is-active': item.status, 'is-inactive': !item.status}">
                                {{item.status ? "ACTIVE" : "INACTIVE"}}
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <button (click)="showConfirmModal(item)" class="btn btn-side" [ngClass]="{'btn-danger': item.status, 'btn-success': !item.status}">
                                    {{item.status ? 'Deactivate' : 'Activate'}}
                                </button>
                                <i (click)="showEditModal(item)" class="bi bi-pencil-square ms-2" tooltip="Edit"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="users?.length > 0" class="table-info row flex-sm-row flex-column justify-content-between">
            <div class="col-sm-3 col">
                <p>{{users?.length}} {{ users?.length === 1 ? "record" : "records"}} found.</p>
            </div>
            <div class="col-sm-8 col-md-6 col ms-sm-auto d-flex justify-content-sm-end align-items-center">
                <div class="d-flex align-items-center">
                    <p class="mb-0">No. of Entries:</p>
                    <ng-select class="ms-2 flex-grow-1" [items]="entriesOptions" bindLabel="label" bindValue="pageItems" name="pageItems" required [(ngModel)]="itemsPerPage"></ng-select>
                </div>
                <div class="ms-2">
                    <pagination [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"  [totalItems]="users?.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
        </div>
        
    </div>
</div>