<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main px-lg-3 py-3 px-4">
    <div class="main-head mt-3 mb-4">
        <button class="main-btn" type="button" (click)="openModal()">Add User</button>
    </div>
    <div class="main-table w-100 overflow-x-auto">
        <table class="table table-striped">
            <thead >
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of users">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.date_added}}</td>
                    <td>{{item.lastLogin}}</td>
                    <td>
                        <span [ngClass]="{'is-active': item.status === 'Active', 'is-inactive': item.status === 'Inactive'}">
                            {{item.status}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>