.auth-bg {
    width: 35%;
    /* background-image: linear-gradient(225deg, #1b63ce 30%, black); */
    background-color: #0a2723;
}
.auth-bg h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}
.auth-form {
    width: 65%;
    position: relative;
}
.auth-form-container {
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 0px 8px 2px #a6a6a6;
}
.auth-form h2 {
    font-family: 'Poppins', sans-serif;
    color: #656565;
}
label {
    color: #656565;
}
.forgot-link, .login-link {
    text-decoration: none;
    font-size: 14px;
}
.text-danger-sm {
    color: #cc3611;
    font-size: 12px;
    position: absolute;
}
.auth-btn {
    background-color: #0c720c;
    padding: 0.55rem 0.75rem;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
.auth-btn:disabled {
    background-color: #0c720cc8;
}
.pass-icon {
    top: 52%;
    right: 8%;
    cursor: pointer;
    font-size: 19px;
}
.falog {
    font-size: 8.5rem;
    color: #ffffff;
    margin-bottom: 3rem;
}
.up-copy {
    font-size: 14px;
    position: absolute;
    bottom: 0;
}
.mob-title {
    margin-bottom: 2rem;
    color: #ffffff;
    /* text-shadow: 1px 1px 2px #000000, 0px 0px 8px #0d720b, 0px 0px 5px #0c720c; */
    text-shadow: 1px 1px 1px #000000, 0px 0px 10px #0d720b, 0px 0px 0px #0c720c;
}
@media (max-width: 990px) {
    .auth-form {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .auth-form {
        padding-top: 4rem;
    }
    .up-copy {
        position: static;
        margin-top: 3rem;
    }
}
@media (max-width: 440px) {
    .auth-form-container {
        max-width: 350px;
    }
}