.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: 80px;
    border-bottom: 2px solid #F4F4F4;
    margin-left: 250px;
    background-color: #fafbfe;
}
.header h3 {
    color: #404040;
    margin-bottom: 0;
}
.header h3, .header h4 {
    font-family: 'Poppins', sans-serif;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 10h19M4 15h19M4 20h19'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
    box-shadow: none;
}
.profile-menu {
    position: relative;
}
.sub-menu {
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    display: none;
    list-style-type: none;
    right: 0;
    min-width: 180px;
    margin: 0;
}
.sub-menu-item {
    transition: all 0.2s;
}
.sub-menu-item:hover {
    background-color: #404040;
}
.sub-menu-item a {
    color: #404040;
    text-decoration: none;
    display: block;
    width: 100%;
}
.sub-menu-item:hover a {
    color: #ffffff;
}
.sub-menu.show {
    display: block;
}
.bi-person-circle {
    font-size: 22px;
}
@media (max-width: 992px) {
    .header {
        margin-left: 0;
    }
}
@media (max-width: 576px) {
    .header h3 {
        font-size: 19px;
    }
}