<div id="feedbackSidebar" class="sidebar d-flex flex-column justify-content-between offcanvas-lg offcanvas-start px-lg-3 px-2">
    <div class="d-flex flex-column justify-content-between flex-grow-1">
        <div class="menu">
            <div class="d-flex justify-content-between">
                <div class="sidebar-logo">
                    <!-- <img src="" alt=""> -->
                    <h3>CSS FEEDBACK PORTAL</h3>
                </div>
                <div class="d-lg-none d-flex align-items-center">
                    <span class="close-menu" data-bs-target="#feedbackSidebar" data-bs-dismiss="offcanvas" aria-label="Close">x</span>
                </div>
            </div>
            <div class="sidebar-menu d-flex flex-column mt-3">
                <a routerLink="/feedback-upload" [routerLinkActive]="['active']" class="menu-item p-2 mb-2">
                    <i class="bi bi-upload me-3"></i>
                    <span>Feedback Upload</span>
                </a>
                <a *ngIf="currentUser.roles[0] === 'ROLE_ADMIN'" routerLink="/manage-users" [routerLinkActive]="['active']" class="menu-item p-2">
                    <i class="bi bi-people-fill me-3"></i>
                    <span>Manage Users</span>
                </a>
            </div>
        </div>
        <div class="sidebar-footer mb-3">
            <a routerLink="/auth/login" (click)="onLogout()" class="p-2">
                <i class="bi bi-box-arrow-right me-3"></i>
                <span>Logout</span>
            </a>
        </div>
    </div>
</div>
