<div class="auth-container min-vh-100 d-flex">
    <div class="auth-bg d-lg-flex flex-column justify-content-center align-items-center d-none">
        <i class="fa-solid fa-circle-up falog"></i>
        <h1>CSS FEEDBACK PORTAL</h1>
    </div>
    <div class="auth-form d-flex flex-column align-items-center justify-content-sm-center">
        <p (click)="goBack()" class="back-txt"><i class="bi bi-arrow-left"></i> Go back</p>
        <h3 class="mob-title d-lg-none d-block">CSS FEEDBACK PORTAL</h3>
        <div class="auth-form-container p-sm-5 p-4">
            <h2 class="text-center mb-4">Reset password</h2>
            <form [formGroup]="passwordForm" class="row mb-4" (ngSubmit)="onSubmit()">
                <div class="mb-3 col-12">
                    <label class="form-label">Old Password</label>
                    <input type="password" class="form-control" formControlName="oldPassword" required>
                    <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)" class="text-danger-sm">
                        <div *ngIf="oldPassword?.errors?.['required']">
                            Old password is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword" required>
                    <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" class="text-danger-sm">
                        <div *ngIf="newPassword?.errors?.['required']">
                            New password is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" formControlName="confirmNewPassword" required>
                    <div *ngIf="confirmNewPassword?.invalid && (confirmNewPassword?.dirty || confirmNewPassword?.touched)" class="text-danger-sm">
                        <div *ngIf="confirmNewPassword?.errors?.['required']">
                            Old password is required.
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <button type="submit" [disabled]="passwordForm.invalid || submitted" class="auth-btn w-100">
                        Reset Password
                        <div *ngIf="isLoading" class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
        <p class="up-copy">&copy; 2023 Upperlink Limited</p>
    </div>
</div>