<div class="modal-header">
    <h4 class="modal-title">Edit User</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
    <form class="row" (ngSubmit)="editUser()">
        <div class="mb-3 col-md-6">
            <label class="form-label mb-0">First Name</label>
            <p class="mb-0">{{userDetails.firstName}}</p>
            <!-- <input class="form-control bg-gray" type="text" value="{{userDetails.firstName}}" readonly> -->
        </div>
        <div class="mb-3 col-md-6">
            <label class="form-label mb-0">Last Name</label>
            <p class="mb-0">{{userDetails.lastName}}</p>
            <!-- <input class="form-control" type="text" value="{{userDetails.lastName}}" readonly> -->
        </div>
        <div class="mb-3 col-12">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" #email="ngModel" name="email" [(ngModel)]="selectedUserEmail" email required>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger-sm">
                <div *ngIf="email?.errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="email?.errors?.['email']">
                    Must be a valid email.
                </div>
            </div>
        </div>
        <div class="mb-4 col-md-6">
            <label class="form-label">User Type</label>
            <ng-select [items]="roleOptions" bindLabel="roleName" bindValue="id" name="userType" #userType="ngModel" required [(ngModel)]="selectedUserType.id"></ng-select>
            <div *ngIf="userType?.invalid && (userType?.dirty || userType?.touched)" class="text-danger-sm">
                <div *ngIf="userType?.errors?.['required']">
                    User Type is required.
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" [disabled]="isDisabled()" class="btn btn-primary">
                Submit
                <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </div>
    </form>
</div>