.main {
    margin-left: 250px;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
}
.main-btn {
    border: none;
    border-radius: 5px;
    background-color: #0d202d;
    padding: 0.55rem 1.5rem;
    color: #ffffff;
}
tbody {
    position: relative;
}
th, td {
    color: #656565;
}
thead th {
    font-size: 15px;
}
tbody tr {
    font-size: 13px;
}
tbody th, tbody td {
    padding: 1rem 0.5rem;
    vertical-align: middle;
}
.is-active, .is-inactive, .is-processing, .is-processed, .is-pending {
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
}
.is-active, .is-processed {
    background-color: #0c720c;
    color: #ffffff;
}
.is-inactive, .is-pending {
    background-color: #ff0000;
    color: #ffffff;
}
.is-processing {
    background-color: #ffa600;
    color: #ffffff;
}
.spinner-size {
    font-size: 5rem;
    top: 40px;
}
.bi {
    cursor: pointer;
    font-size: 22px;
    color: #ed1919;
    position: relative;
}
/* .bi-pencil-square {
    color: #000000;
} */
.btn-side {
    font-size: 12px;
}
.bi-x-octagon {
    color: #ed1919;
}
.bi-pencil-square span {
    opacity: 0;
    position: absolute;
    transition: all 0.4s;
    font-size: 14px;
}
.bi-pencil-square:hover span {
    opacity: 1;
    background-color: #0d202d;
    color: #ffffff;
    padding: 0.25rem 1rem;
}
.f-label {
    font-size: 15px;
}
.s-input {
    font-size: 14px;
}
input:focus {
    box-shadow: none;
    border-color: #0a2723;
}
@media (max-width: 992px) {
    .main {
        margin-left: 0;
    }
}