/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
* {
    font-family: 'Libre Franklin', sans-serif;
}
body {
    background-color: #fafbfe;
}
.toastr-box {
    background-size: 20px !important;
    min-width: 270px !important;
}
.toast-title {
    font-size: 14px;
}
.pagination {
    justify-content: flex-end;
    margin-bottom: 0;
}
.page-link {
    font-size: 13px;
}
.ng-select .ng-clear-wrapper {
    width: 8px;
    margin-left: 3px;
}
.ng-select .ng-clear-wrapper .ng-clear {
    margin-top: 5px;
}
@media (max-width:576px) {
    .modal-dialog {
        margin-top: 8rem;
    }
}